:root {
  --body-bg: #fddcd2;

  --header-bg: #0f0502;
  --header-text: #c684af;

  --main-bg: ##fddcd2;
  --main-text: #0f0502;
  --main-title-bg: #c684af;

  --card-bg: #52b3847b;
  --card-text: #201e1d;
}
